.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 14px;
  font-weight: bold;
  color: var(--blue);
}

.counter {
  font-size: 12px;
  font-weight: bold;
  color: var(--gray-200);

  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
}